<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ContensiveAppName" value="ReplaceWithAppName" />
  </appSettings>
  <configSections />
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/default.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>