<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections />
  <appSettings>
    <add key="ContensiveAppName" value="app20170406174526" />
    <add key="ContensiveappRootFilesPath" value="d:\inetpub\app20170406174526\wwwRoot\" />
    <add key="ContensivecdnFilesPath" value="d:\inetpub\app20170406174526\files\" />
    <add key="ContensivePrivateFilesPath" value="d:\inetpub\app20170406174526\private\" />
    <add key="ContensivePrimaryDomain" value="www.app20170406174526.com" />
    <add key="ContensiveAdminRoute" value="admin" />
    <add key="ContensivecdnFilesNetprefix" value="/app20170406174526/files/" />
    <add key="ContensiveEnableCache" value="true" />
    <add key="ContensivePrivateKey" value="app20170406174526" />
    <add key="ContensiveCdnFilesRemoteEndpoint" value="" />
    <add key="ContensiveDefaultDataSourceAddress" value="c5db1.cr0hzoidben0.us-east-1.rds.amazonaws.com:1433" />
    <add key="ContensiveDefaultDataSourceType" value="2" />
    <add key="ContensiveDefaultDataSourceUsername" value="kmaAdmin" />
    <add key="ContensiveDefaultDataSourcePassword" value="-----" />
    <add key="ContensiveIsLocalCache" value="false" />
    <add key="ContensiveIsLocalFileSystem" value="true" />
    <add key="ContensiveLocalDataDriveLetter" value="d" />
    <add key="ContensiveServerGroupName" value="webServer" />
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="/default.aspx" responseMode="ExecuteURL" />
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <modules></modules>
    <defaultDocument>
      <files>
        <remove value="index.php" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.TraceSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>