
.ccChildList li {
    min-height:30px;
    vertical-align:middle;
    border:1px dashed #262;
    padding-right:40px !important;
    background:white url(/childPageSort/arrowUpDown.png) no-repeat right;
}
