
/*
    page manager verified styles
*/
.ccChildList li {
    min-height: 30px;
    vertical-align: middle;
}
/*
    child list
*/
.ccEditWrapper .ccChildList li {
    border: 1px dashed #262;
    padding-right: 40px !important;
    background: white url(/pageManager/arrowUpDown.png) no-repeat right;
}
/*
    debug mode trace window
*/
div.ccTestPointMessageCon {
    margin: 10px;
    border: 1px solid #233;
    padding: 20px;
    background-color: #eee;
}
/*
    Dialog - page cannot be displayed
*/
div.ccDialogPageNotFound {
    width: 300px;
    margin: 100px auto auto auto;
    text-align: center;
}