<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    
    <!-- Product Components -->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      
      <!-- reference the components to install -->
      <ComponentRef Id="MainAppShortcut"/>
    </ComponentGroup>
    
    <!-- reference the directory in the directories file -->
    <DirectoryRef Id="INSTALLFOLDER" FileSource="..\Cli\bin\Debug\net472\">
      
      <!-- Shortcut to main application-->
      <Component Id="MainAppShortcut" Guid="{79E3B767-5C45-40D6-A0BC-6DDE1B0E4257}">
        
        <!-- add install path to environment path variable-->
        <Environment
          Id="PATH"
          Name="PATH"
          Value="[INSTALLDIR]"
          Permanent="yes"
          Part="last"
          Action="set"
          System="yes" />        
        
        <!-- add a shortcut (not really needed) -->
        <Shortcut
          Id="MainAppShortcut"
          Name="Contensive Console"
          Target="[INSTALLFOLDER]cc.exe"
          Directory="InstallProgramMenuFolder"
          WorkingDirectory="INSTALLFOLDER"
          Icon="icon.ico"
          />
        
        <!-- shortcut cannot have a key, and a key is needed, so add a registry entry to get the key -->
        <RegistryValue 
          Id="RegShortcutKey" 
          Name="Shortcut" 
          Root="HKCU" 
          Key="SOFTWARE\$(loc.ProductNameFolder)"
          Value="1"
          Type="integer"
          KeyPath="yes"          
          />

         <!--Remove Start Menu Items on uninstal--> 
        <RemoveFolder Id="RemoveStartFolder" Directory="InstallProgramMenuFolder" On="uninstall"/>
        
      </Component>  
    </DirectoryRef>
  </Fragment>
</Wix>
