<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fg="http://www.firegiant.com/schemas/v3/wxs/fgwep.xsd">
  <Fragment>
    <ComponentGroup Id="ComponentTaskServiceExe" Directory="INSTALLFOLDER">
      <Component Id="asdfafdawerqwer" Guid="{58F52C5F-E2FD-4CF8-A505-1D52D86B6593}">
        <fg:HarvestFile Source="$(var.BasePath)/TaskService.exe" />

        <ServiceInstall
          Id="ServiceInstaller"
          Type="ownProcess"
          Vital="yes"
          Name="MyWindowsService"
          DisplayName="MyWindowsService"
          Description="Example Windows Service"
          Start="auto"
          Account="LocalSystem"
          ErrorControl="normal"
          Arguments=" /start MyWindowsService"
          Interactive="no" />

        <ServiceControl
          Id="StartService"
          Stop="both"
          Start="install"
          Remove="uninstall"
          Name="MyWindowsService"
          Wait="yes" />        
        
      </Component>

      <Component Id="dfdrtyfgsdgh" Guid="{A7B4D9AC-1782-4B67-9C9A-7B0041970B9D}">
        <fg:HarvestFolder Source="build" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>