<html>
<head>
<style>
#page {background-color:#e0e0e0;}
#pageheader {clera:both;background-color:#C0C0C0;}
#tools {float:left;width:200px;clear:both;border:1px solid black}
#buttonrow {clear:right}
#buttons {background-color:#b0b0b0}

</style>
</head>
<body>
<div id="page">
<div id="pageheader">Header</div>
<div id="pagebody">
<div id="tools">Tools<br />Tools<br />Tools<br />Tools<br />Tools<br /></div>
<div id="buttonrow"><div id="buttons">[button] [button] [button]</div></div>
<div id="buttons">[button] [button] [button]</div>
</div id="endpagebody">
</div id="endpage">
</body>
</html>