<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Product code changes each build -->
  <?if $(var.Platform)=x64 ?>
	  <?define ProductCode="{EDB5DD31-045A-4F59-8B2B-F44F6286A086}"?>
  <?else?>
    <?define ProductCode="{F4DC7830-A59C-42F0-9CE0-19CDCC4D2E85}"?>
  <?endif?>
  
	<!-- Upgrade code does not change. This is the same for all builds of this product -->
  <?define UpgradeCode="{33AA8CA2-FF57-47F7-83FA-A9018ECF783D}"?>
  
  <!-- Build version of the  prodcut -->
  <?define BuildVersion="20.6.6.1"?>
  
  <!-- defind main product -->
	<Product 
    Id="$(var.ProductCode)" 
    Name="!(loc.ProductName_$(var.Platform))"
    Language="!(loc.Language)" 
    Version="$(var.BuildVersion)" 
    Manufacturer="!(loc.Company)" 
    UpgradeCode="$(var.UpgradeCode)"
    >
    
    <!-- Product Package -->
		<Package 
      InstallerVersion="200" 
      Compressed="yes" 
      InstallScope="perMachine"
      Platform="$(var.Platform)"
			Manufacturer="!(loc.Company)"
      Description="!(loc.Description)"
      Keywords="!(loc.Keywords)"
      Comments="!(loc.Comments)"
      Languages="1033"
      />
    
    <!-- Downgrade error message -->
		<MajorUpgrade 
      DowngradeErrorMessage="!(loc.DowngradeErrorMessage)" 
      />
    
    <!-- include cab file in msi-->
		<MediaTemplate 
      EmbedCab="yes" 
      />
    
    <!-- define main app icon -->
    <Icon Id ="icon.ico" SourceFile="$(var.Cli.ProjectDir)\app.ico"/>
    <Property Id="APPPRODUCTICON">icon.ico</Property>
    
    <!-- help support website for add/remove programs-->
    <Property Id="APPURLINFOABOUT">https://contensive.io</Property>
    
    <!-- Basic UI for installer, added reference from wix program-files -->
    <UIRef Id="WixUI_Minimal"/>
    
    <!-- define components, shortcuts, files, etc -->
		<Feature 
      Id="ProductFeature" 
      Title="ContensiveCLIInstaller" 
      Level="1"
      >
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

</Wix>
