<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
      autoReload="true" 
      throwExceptions="true">

  <variable name="LogDirectory" value="C:\ProgramData\Contensive\Logs"/>
  <targets>
    <target xsi:type="ColoredConsole" name="colored_console"/>
    <target name="LogFile" 
            xsi:type="File" 
            fileName="${LogDirectory}/${shortdate}.log" 
            encoding="utf-8"
            maxArchiveFiles="14" 
            layout="${longdate}|${level:uppercase=true}|${callsite}|${message}" />
  </targets>

  <rules>
    <!-- trace debug info warn error fatal -->
    <logger name="*" minlevel="warn" writeTo="colored_console"/>
    <logger name="*" minlevel="warn" writeTo="LogFile" />
  </rules>
</nlog>