<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections />


  
  
  
  <appSettings file="..\ContensiveWeb.config">
    <add key="ContensiveAppName" value="" /><!-- blank uses the iis site name -->
    <add key="ContensiveUseWebConfig" value="false" />
    <!--  
        to use the values initialized with the command line config tool at c:\programData\Contensive\Server.config
        leave the contensiveappname appSetting.
        to use web.config values, copy these values to a ContensiveWeb.config file in another folder
        and set the appSettings file reference to that config file (do not store passwords in the web.config)
        
    <add key="ContensiveappRootFilesPath" value="c:\inetpub\DevDefaultApp\wwwRoot\" />
    <add key="ContensivecdnFilesPath" value="c:\inetpub\DevDefaultApp\files\" />
    <add key="ContensivePrivateFilesPath" value="c:\inetpub\DevDefaultApp\private\" />
    <add key="ContensivePrimaryDomain" value="www.DevDefaultApp.com" />
    <add key="ContensiveAdminRoute" value="admin" />
    <add key="ContensivecdnFilesNetprefix" value="/DevDefaultApp/files/" />
    <add key="ContensiveEnableCache" value="true" />
    <add key="ContensivePrivateKey" value="DevDefaultApp" />
    <add key="ContensiveCdnFilesRemoteEndpoint" value="" />
    <add key="ContensiveDefaultDataSourceAddress" value="(local)" />
    <add key="ContensiveDefaultDataSourceType" value="2" />
    <add key="ContensiveDefaultDataSourceUsername" value="" />
    <add key="ContensiveDefaultDataSourcePassword" value="" />
    <add key="ContensiveIsLocalCache" value="false" />
    <add key="ContensiveIsLocalFileSystem" value="true" />
    <add key="ContensiveLocalDataDriveLetter" value="d" />
    <add key="ContensiveServerGroupName" value="webServer" />
    -->
  </appSettings>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
    <httpRuntime requestPathInvalidCharacters="" maxRequestLength="50000000" executionTimeout="3600" targetFramework="4.5" requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <httpErrors errorMode="Custom">
    </httpErrors>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <remove value="index.php" />
        <remove value="default.aspx" />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" staticCompressionLevel="9" />
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="application/atom+xml" enabled="true" />
        <add mimeType="application/xaml+xml" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <httpProtocol>
      <!-- see domain.allowCORS <customHeaders>
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Methods" value="POST,GET,OPTIONS" />
        <add name="Access-Control-Allow-Origin" value="https://app.weaveeducation.com" />
        <add name="Access-Control-Allow-Headers" value="Content-Type,soapaction,X-Requested-With" />
      </customHeaders>-->
    </httpProtocol>
  </system.webServer>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Enyim.Caching" publicKeyToken="cec98615db04012e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.16.0.0" newVersion="2.16.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.X509Certificates" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.TraceSource" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>